@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Sorts+Mill+Goudy&display=swap");

* {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 0;
}

#main-container {
  /* border: 2px solid black; */
  margin: 1px 2px;
  /* padding: 10px; */
}
body {
  overflow-y: hidden;
  overflow-x: hidden;
}
.icon {
  width: 20px;
  height: 20px;
}

.form-login {
  /* border: 2px solid black; */
  width: 30%;
  margin: 10px auto;
}
.header-login {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.title-login {
  border: 2px solid rgb(178, 194, 242);
  border-radius: 15px;
  font-family: "Fredoka One", cursive;
  text-align: center;
  padding: 10px;
}
.content-login {
  background-color: rgb(220, 221, 250);
  border: 2px solid rgb(220, 221, 250);
  border-radius: 10px;
  margin-top: 10px;
  padding: 15px;
  box-sizing: border-box;
}

#text-admin {
  font-size: 1.5rem;
  color: rgb(187, 134, 221);
}

#input-login {
  display: flex;
  flex-direction: column;
}
#input-login > div {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  font-family: "Sorts Mill Goudy", serif;
}
#input-login > div > input {
  /* border: 0.5px solid black; */
  border-radius: 8px;
  padding: 2px;
  box-sizing: border-box;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
#input-login > button {
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 8px;
  border-radius: 9px;
  font-weight: bold;
  font-size: 0.9rem;
  color: white;
  border: 0.5px solid rgb(104, 42, 226);
  background-color: rgb(104, 42, 226);
}
.footer {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-footer {
  /* border: 0.5px solid black; */
  border-radius: 10px;
  text-align: center;
  padding: 15px;
}

.header-footer > a {
  text-decoration: none;
}
.footer-footer {
  margin-top: 20px;
  text-align: center;
  font-size: 0.8rem;
}

/* CSS Dashboard */
.dashboard-main {
  display: flex;
  flex-direction: row;
  /* background-color: rgb(198, 109, 225); */
  /* border: 2px solid black; */
}

.side-left {
  /* border: 2px solid black; */
  /* height: 500px; */
  /* flex-grow: 0.3; */
  background-color: rgba(11, 16, 147, 0.197);
  display: flex;
  flex-direction: column;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.icon-dashboard {
  margin-top: 30px;
  /* border: 2px solid black; */
  flex-grow: 2;
  padding: 2px;
  box-sizing: border-box;
}

.header-dashboard {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  /* border: 2px solid rgb(177, 40, 113); */
  background-color: white;
  box-shadow: rgba(177, 40, 113, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  width: 100%;
  padding: 5px;
}
#burger {
  display: none;
}
.header-dashboard > img {
  /* border: 2px solid black; */
  width: 24%;
  height: 55px;
}
.header-dashboard > h3 {
  /* border: 2px solid black; */
  width: 75%;
  height: 55px;
  line-height: 55px;
  padding-left: 10px;
  color: rgb(188, 80, 212);
  font-family: "Fredoka One", cursive;
  font-size: 1.2rem;
}
.nav-menu {
  /* border: 2px solid black; */
  margin-top: 30px;
  flex-grow: 5;
  padding: 30px;
  box-sizing: border-box;
}
#list {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
}
dl > dt {
  display: flex;
  flex-direction: row;
  /* border: 2px solid black; */
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 20px;
}
dl > dt > a {
  font-family: "Fredoka One", cursive;
  font-weight: 100;
  /* font-size: 1rem; */
  text-decoration: none;
  color: black;
  padding-left: 30px;
  font-weight: 300;
}

dl > dt > a:hover {
  color: black;
}

.footer-dashboard {
  /* border: 2px solid rgb(86, 4, 4); */
  flex-grow: 3;
  width: 100%;
  background-color: white;
}
.component-main {
  border: 2px solid black;
  flex-grow: 7;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  margin-left: 2px;
  margin-right: 2px;
}

#notes {
  display: flex;
  flex-direction: column;
  box-shadow: 0 -5px 5px -5px #333;
}
#notif-notes {
  /* border: 2px solid black; */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#notif-notes > button {
  display: flex;
  justify-content: space-between;
  width: 260px;
}
.notif-notes img {
  width: 20px;
  height: 20px;
  /* border: 2px solid black; */
}
#modal-notes {
  top: 0;
  left: 0;
  border: 6px solid black;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-notes {
  display: flex;
  /* border: 3px solid rgb(16, 16, 16); */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  flex-direction: column;
  margin-top: 8%;
  background: white;
  width: 40%;
  padding: 15px;
  border-radius: 5px;
}
.header-notes {
  padding: 5px;
  text-align: center;
  /* border: 2px solid black; */
  border-radius: 5px;
  margin-top: 8px;
  background-color: rgb(230, 227, 186);
}
.content-notes {
  padding: 10px;
}

.side-right {
  border: 2px solid black;
  flex-grow: 3;
}
.section-notes {
  /* border: 2px solid black; */
  width: 260px;
}
.section-notes > button {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.nav-menu {
  display: flex;
  flex-direction: column;
}

#master-detail {
  display: none;
  width: 150px;
  margin-left: 21px;
}

.list-notes {
  width: 260px;
  /* border: 2px solid black; */
  width: 100%;
}

#master-detail > ul > li {
  list-style: none;
  font-family: "Fredoka One", cursive;
  font-size: 0.8rem;
  margin-bottom: 10px;
  width: 150px;
}

#master-detail > ul > li > a {
  text-decoration: none;
  color: black;
}

/* CSS Dashboard End */
/* CSS panel-dashboard */
.panel-dashboard {
  width: 100%;
  margin: 30px auto;
  /* border: 2px solid black; */
  /* padding: 20px; */
}
#admin-board {
  margin: 60px auto;
  /* border: 2px solid black; */
  padding: 30px;
  width: 95%;
  box-sizing: border-box;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: rgb(220, 221, 250);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
#admin-board > h5 {
  font-size: 1.6rem;
  padding-left: 20px;
}
#admin-board > h5 > span {
  font-size: 2rem;
}
.imge {
  /* border: 2px solid black; */
  width: 170px;
  height: 170px;
  position: absolute;
  right: 30px;
  top: -70px;
}

/* CSS panel-dashboard End */

@media only screen and (max-width: 600px) {
  .form-login {
    width: 100%;
    margin: 10px auto;
  }
  .dashboard-main {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
  }
  .card-notes {
    width: 100%;
  }
  #tanggal_notes {
    width: 70%;
  }
  #tanggal_n {
    width: 100%;
  }
  .header-dashboard > img {
    /* border: 2px solid black; */
    margin-top: 0px;
    width: 16%;
    height: 58px;
  }
  .nav-menu {
    display: none;
  }
  #burger {
    display: block;
    width: 40px;
    height: 40px;
    /* border: 2px solid rgb(119, 46, 112); */
    border-radius: 8px;
    margin-top: 12px;
  }
  #notif-notes > button {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  #notif-notes {
    margin-top: 10px;
    padding: 5px;
  }
  #notes {
    display: none;
  }
  #notes > h6 {
    margin-top: 5px;
  }
  #button-notes {
    margin: 10px auto;
    width: 98%;
  }
  .section-notes {
    /* border: 2px solid black; */
    width: 100%;
  }
  .header-dashboard {
    margin-top: -30px;
    box-shadow: rgba(124, 26, 120, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  }
  .nav-menu {
    position: static;
    margin: -1px auto;
    z-index: 1;
    border-radius: 2px;
    background-color: white;
    width: 99%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }

  .component-main {
    margin-top: 80px;
    z-index: 0;
    position: absolute;
    /* height: 300px;
    width: 100%; */
  }
  .side-left {
    background-color: white;
  }
  .dashboard-main {
    border: none;
  }
  .side-right {
    display: none;
  }
}
