@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Sorts+Mill+Goudy&display=swap");

* {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 0;
}

#main-container {
  border: 2px solid black;
  margin: 1px 2px;
  /* padding: 10px; */
}
.icon {
  width: 20px;
  height: 20px;
}

.form-login {
  /* border: 2px solid black; */
  width: 30%;
  margin: 10px auto;
}
.header-login {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.title-login {
  border: 2px solid rgb(178, 194, 242);
  border-radius: 15px;
  font-family: "Fredoka One", cursive;
  text-align: center;
  padding: 10px;
}
.content-login {
  background-color: rgb(220, 221, 250);
  border: 2px solid rgb(220, 221, 250);
  border-radius: 10px;
  margin-top: 10px;
  padding: 15px;
  box-sizing: border-box;
}

#text-admin {
  font-size: 1.5rem;
  color: rgb(187, 134, 221);
}

#input-login {
  display: flex;
  flex-direction: column;
}
#input-login > div {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  font-family: "Sorts Mill Goudy", serif;
}
#input-login > div > input {
  border: 0.5px solid black;
  border-radius: 8px;
  padding: 2px;
  box-sizing: border-box;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
#input-login > button {
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 8px;
  border-radius: 9px;
  font-weight: bold;
  font-size: 0.9rem;
  color: white;
  border: 0.5px solid rgb(104, 42, 226);
  background-color: rgb(104, 42, 226);
}
.footer {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-footer {
  border: 0.5px solid black;
  border-radius: 10px;
  text-align: center;
  padding: 15px;
}

.header-footer > a {
  text-decoration: none;
}
.footer-footer {
  margin-top: 20px;
  text-align: center;
  font-size: 0.8rem;
}

/* CSS Dashboard */
.dashboard-main {
  display: flex;
  flex-direction: row;
  border: 2px solid black;
}

.side-left {
  border: 2px solid black;
  /* height: 500px; */
  flex-grow: 0.3;
  display: flex;
  flex-direction: column;
}

.icon-dashboard {
  border: 2px solid black;
  flex-grow: 2;
  padding: 2px;
  box-sizing: border-box;
}

.header-dashboard {
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  width: 100%;
  padding: 5px;
}
.header-dashboard > img {
  /* border: 2px solid black; */
  width: 21%;
  height: 55px;
}
.header-dashboard > h3 {
  /* border: 2px solid black; */
  width: 75%;
  height: 55px;
  line-height: 55px;
  padding-left: 10px;
  color: rgb(188, 80, 212);
  font-family: "Fredoka One", cursive;
  font-size: 1.5rem;
}
.nav-menu {
  border: 2px solid black;
  flex-grow: 5;
  padding: 30px;
  box-sizing: border-box;
}
#list {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
}
dl > dt {
  display: flex;
  flex-direction: row;
  /* border: 2px solid black; */
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 20px;
}
dl > dt > a {
  font-family: "Fredoka One", cursive;
  font-weight: 100;
  font-size: 1rem;
  text-decoration: none;
  color: rgb(77, 75, 75);
  padding-left: 30px;
}

dl > dt > a:hover {
  color: black;
}
.footer-dashboard {
  border: 2px solid black;
  flex-grow: 3;
}
.dashboard-component {
  border: 2px solid black;
  flex-grow: 7;
}

.side-right {
  border: 2px solid black;
  flex-grow: 3;
}

.nav-menu {
  display: flex;
  flex-direction: column;
}

#master-detail {
  margin-left: 21px;
  transition: 1s;
  display: none;
}
#master-detail > ul > li {
  list-style: none;
  font-family: "Fredoka One", cursive;
  font-size: 0.9rem;
  margin-bottom: 10px;
}
#master-detail > ul > li > a {
  text-decoration: none;
  color: black;
}

/* CSS Dashboard End */

@media only screen and (max-width: 600px) {
  .form-login {
    width: 100%;
    margin: 10px auto;
  }
}
